:root {
  --background-rgb: 255, 255, 255;
  --foreground-rgb: 51, 51, 51;
  --primary-rgb: 90, 184, 174;
  --border-radius: 4px;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html, body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
